<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Default page</title>
</head>
<body>
<h2 th:text="${text}"></h2>

<ul class="nav-links">
    <li class="nav-item"><a href="/">Home</a></li>
    <li sec:authorize="hasRole('USER')" class="nav-item">You User</li>
    <li sec:authorize="hasRole('ADMIN')" class="nav-item">You Admin</li>
    <li sec:authorize="!isAuthenticated()" class="nav-item"><a href="/login">Login</a></li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <form class="link" th:action="@{/logout}" method="post">
            <input class="link" type="submit" value="Logout"/>
        </form></li>
</ul>

<a href="/public-data">Старничка для зарегистрированных</a></br>
<a href="/private-data">Старничка для админов</a>


</body>
</html>